#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
}

h1{
    font-size:5rem;
}

span{
    font-size: 5rem;
    padding-bottom: 3rem;
}

button{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight:bold;
    color:black;
    
}

#decrease-btn{
    background-color: red;
}

#increase-btn{
    background-color: green;
}

#reset-btn{
    background-color:burlywood;
}